extends layout

block content
  body
    #inicio-container
      a(href="/pag3", id="inicio") Apoya a la causa
    header(class="head")
      h1 Apoya a la causa

    br 

    #cente2
      h1 El Nombre Que Deseas Eliminar:
      form(action="/eliminar", method="POST")
        input(class="text" type="text", name="nom")
        input(class="submit" type="submit", value="eliminar")
