extends layout

block content
  body
    #inicio-container
      a(href="/pag3", id="inicio") Apoya a la causa
    header(class="head")
      h1 Apoya a la causa

    br 

    #cente2
      h1 El Email del Nombre que quiere eliminar:
      form#formAddUser(name="esborrarAlumne",method="post",action="/esborrarAlumneBD")        
          input#inputUserEmail(class="text" type="text", placeholder="email", name="email")
          button#btnSubmit(class="submit" type="submit") submit
