extends layout

block content
  h1(class="titulo")= title

  div.nav
    a(href="/pag1", class="na") Pagina 1
    a(href="/pag2", class="na") Pagina 2
    a(href="/pag3", class="na") Pagina 3
    a(href="/pag4", class="na") Pagina 4

  img(src="https://www.acueductosca.com/wp-content/uploads/2020/12/Agua-potable-flujo-todos-los-dias-scaled.jpg", class="img")
