extends layout

block content
  h1(class="titulo")= title

  div.nav
    a(href="/pag4", class="na") Inicio de sesion
    a(href="/pag1", class="na") Malgasto en España
    a(href="/pag2", class="na") Malgasto de Agua y Impacto Ambiental
    a(href="/pag3", class="na") Apoya a la Causa

  img(src="https://www.acueductosca.com/wp-content/uploads/2020/12/Agua-potable-flujo-todos-los-dias-scaled.jpg", class="img")
