extends layout

block content
  .hero
    img(src="https://static.vecteezy.com/system/resources/previews/017/339/034/original/water-drop-icon-3d-free-png.png" alt="Imagen de agua escasa" class="img")
    h1 Un futuro sin agua no es futuro

  h1(class="titulo")= title

  .nav
    a(href="/pag1", class="na") Malgasto en España
    a(href="/pag2", class="na") Malgasto y Impacto Ambiental
    a(href="/pag4", class="na") Tipos de Riego


  .cta
    a(href="/pag3", class="btn") Apoya a la Causa
