extends layout

block content
  div(id="form-container")
    form(id="login-form")
      div
        label(for="username") Usuario:
        br
        input(type="text", id="username", v-model="username", required)
      br
      div 
        label(for="password") Contraseña:
        br
        input(type="password", id="password", v-model="password", required)
      br
      button(type="button" class="submit" @click="login()") Iniciar Sesión

  script(type='module').
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
    createApp({
      data() {
        return {
          username: '',
          password: '',
        };
      },
      methods: {
        login() {
          if (this.username === 'admin' && this.password === 'fjeclot') {
            window.location.href = '/index';
            console.log('funciona');
          } else {
            console.log('Credenciales incorrectas');
            window.location.href = window.location.href;
          }
        }
      }
    }).mount('#login-form');