extends layout

block content
  body
    #inicio-container
      a(href="/pag3", id="inicio") Apoya a la causa
    header(class="head")
      h1 Apoya a la causa

    br

    #cente2
      h1 Modifica tu Nombre de la Lista
      label Pon el correo del nombre y el nuevo nombre
      form#formAddUser(name="afegirAlumne",method="post",action="/modificarAlumneBD")
        input#inputUserName( class="text" type="text", placeholder="nom", name="nom")
        
        input#inputUserEmail( class="text" type="text", placeholder="email", name="email")
        button#btnSubmit(class="submit" type="submit") submit
