extends layout

block content
  body
    #inicio-container
      a(href="/pag3", id="inicio") Apoya a la causa
    header(class="head")
      h1 Apoya a la causa

    br

    #cente2
      h1 Modificar Nombre:
      form(action="/modifica", method="POST")
        label(for="nombreActual") Nombre Actual:
        input(class="text" type="text", name="nombreActual", required)

        label(for="nuevoNombre") Nuevo Nombre:
        input(class="text" type="text", name="nuevoNombre", required)

        input(class="submit" type="submit", value="Modificar")
