extends layout

block content
body
    header.head
      h1 Apoya a la causa

    br

    #cente2
      h1 Modificar Nombre:
      form(action="/modifica", method="POST")
        label(for="nombreActual") Nombre Actual:
        input.text(type="text", name="nombreActual", required)

        label(for="nuevoNombre") Nuevo Nombre:
        input.text(type="text", name="nuevoNombre", required)

        input.submit(type="submit", value="Modificar")
  a(href="/") Inicio
