extends layout

block content
  #inicio-container
    a(href="/", id="inicio") Inicio
  
  #app
    .header
      h1 Detengamos el malgasto de agua
      p Ayuda a conservar el agua utilizando sabiamente este recurso vital.

    Mapa

    .data
      h2 Datos sobre el malgasto de agua
      p En todos los países se malgasta agua, pero en este momento España está en sequía, así que deberíamos detener todo el malgasto.
