extends layout

block content

  #inicio-container
    a(href="/", id="inicio") Inicio

  div#container
    main
      nav
      #conidoInfo3
        article
          h1 Contaminación por culpa de deportes de agua
          | Per cada taula de surf de 
          b poliester
          |  es produeix 5kg de rebuig que es
          |  casi la meitat del pes total de la taula.
          br

        br
        article
          h1 La economía
          | Circular puede ser una de las soluciones, a la vez que una concienciación
          | tanto de los deportistas como de las propias escuelas de deportes acuáticos.
          | Javi, de la escuela Radikite, menciona la importancia de concienciar especialmente
          | a las escuelas e instructores de kitesurf para contribuir en la transmisión de valores
          | a los practicantes de deportes acuáticos.
          br
        img.imgg(src="https://getwallpapers.com/wallpaper/full/8/c/f/541898.jpg")


