extends layout

block content

  #inicio-container
    a(href="/", id="inicio") Inicio

  div#container
    main
      nav
      #conidoInfo3
        article
          h1 Malgasto de agua en campos de fútbol y golf
          | Por cada hora de riego en un campo de golf, se pueden utilizar miles de litros de agua, contribuyendo así al malgasto de este recurso vital.
          br
          | Además, los campos de fútbol también son grandes consumidores de agua, con sistemas de riego que muchas veces no son eficientes.
          br
          | El exceso de riego y el uso de productos químicos en el mantenimiento de estos espacios deportivos pueden llevar a la contaminación del agua subterránea.
          br
          img.imgg(src="https://ustraveler.com.mx/wp-content/uploads/2016/06/us-traveler-campo-de-golf-Doral-Miami.jpg")
        br
        article
          h1 Impacto ambiental y soluciones
          | El malgasto de agua en campos deportivos es un problema que requiere atención urgente. Es necesario adoptar medidas para reducir el consumo de agua, como la implementación de sistemas de riego más eficientes y el uso de tecnologías de reciclaje de agua.
          br
          | Además, es fundamental concienciar a los administradores de estos espacios y a los usuarios sobre la importancia de conservar el agua y proteger el medio ambiente.
          br
          img.imgg(src="https://www.humanium.org/es/wp-content/uploads/2020/07/shutterstock_1524421928-scaled.jpg")
