extends layout

block content

  header.head
    h1(class="titulo")= title
  br

  #cente1
    .title
      h2 Si quieres apoyar nuestra causa para que haya más medidas de prevención en pérdidas de agua y concienciar a más gente, puedes poner tu nombre aquí para apoyarnos. Podrás ver a todos los participantes de la causa.

  #cente2
    h1 Tu Nombre:

    form(action="/desa", method="GET")
      input.text(type="text", name="nom")
      input.submit(type="submit", value="desa")

  nav.eliminar1
    a(href="/eliminar", class="eliminar") Eliminar

  br

  nav.modificar1
    a(href="/modificar", class= "modificar" ) Modificar

  br

  a(href="/") Inicio
