extends layout

block content
  #inicio-container
    a(href="/index", id="inicio") Inicio
  header(class="head")
    h1(class="titulo")= title
  br

  #cente1
    .title
      h2 Si quieres apoyar nuestra causa para que haya más medidas de prevención en pérdidas de agua y concienciar a más gente, puedes poner tu nombre aquí para apoyarnos. Podrás ver a todos los participantes de la causa.

  #cente2
    h1= titol
    form#formAddUser(name="afegirAlumne",method="post",action="/afegirAlumneBD")
        input#inputUserName(class="text" type="text", placeholder="nom", name="nom")
        input#inputUserEmail(class="text" type="text", placeholder="email", name="email")
        button#btnSubmit(class="submit" type="submit") submit
  if isAdmin
    nav(class="eliminar1")
      a(href="/eliminar", class="eliminar") Eliminar

    br

    nav(class="modificar1")
      a(href="/modificar", class= "modificar" ) Modificar

