extends layout

block content
  #inicio-container
    a(href="/", id="inicio") Inicio
  #form
    form(id="login-form", @submit.prevent="login")
      div
        label(for="username") Usuario:
        input(type="text", id="username", v-model="username", required)
      div 
        label(for="password") Contraseña:
        input(type="password", id="password", v-model="password", required)
      button(type="submit") Iniciar Sesión

  script(type='module').
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
    createApp({
      data() {
        return {
          username: '',
          password: '',
        };
      },
      methods: {
        login() {
          if (this.username === 'admin' && this.password === 'password') {
            this.message = 'Inicio de sesión exitoso';
          } else {
            this.message = 'Credenciales incorrectas';
          }
        }
      }
    });
    mount('#login-form');
