body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.titulo {
  text-align: center;
  font-size: 2vw; 
  color: #333;
  margin-bottom: 2%;
}

.nav {
  display: flex;
  justify-content: center;
}

.na {
  text-decoration: none;
  color: #333;
  padding: 1.25% 2%;
  margin: 0 1.5%;
  border-radius: 0.5vw;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}


.na:hover {
  background-color: #ddd;
}
